### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as py

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Find total number of players
players = len(purchase_data["SN"].unique())

#Create table for total number of players
total_players = pd.DataFrame({"Total Players": [players]})

#Print total number of players
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Get number of unique items
item_count = len(purchase_data["Item ID"].unique())

#Get average price
average_price = purchase_data["Price"].mean()

#Get number of purchases
number_purchases = len(purchase_data)

#Get total revenue
revenue = purchase_data["Price"].sum()

#Create summary table
purchase_summary = pd.DataFrame({"Number of Unique Items": [item_count], "Average Price": [average_price],
                                "Number of Purchases": [number_purchases], "Total Revenue": [revenue]})
#Format summary table
purchase_summary["Average Price"] = purchase_summary["Average Price"].astype(float).map("${:.2f}".format)
purchase_summary["Total Revenue"] = purchase_summary["Total Revenue"].astype(float).map("${:,.2f}".format)

#Print summary table
purchase_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Create table for genders
gender_group = pd.DataFrame(purchase_data[["SN", "Gender"]].drop_duplicates())
gender_counts = gender_group["Gender"].value_counts()

total_gender_counts = pd.DataFrame(gender_counts)
#Add gender percent
total_gender_counts["Percentage of Players"] = total_gender_counts["Gender"]/total_gender_counts["Gender"].sum()


#format percentage column
total_gender_counts["Percentage of Players"] = total_gender_counts["Percentage of Players"].astype(float).map("{:.2%}".format)

#Rename gender to total count
total_gender_counts = total_gender_counts.rename(columns={"Gender": "Total Count"})
total_gender_counts

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Get gender count
gender_summary_count = pd.DataFrame(purchase_data["Gender"].value_counts())
gender_summary_count.reset_index(inplace=True)
gender_summary_count.columns = ["Gender", "Purchase Count"]

#Get average purchase price
avg_gender_price = pd.DataFrame(purchase_data.groupby("Gender")["Price"].mean())
avg_gender_price.reset_index(inplace=True)
avg_gender_price.columns = ["Gender", "Average Purchase Price"]

#Get total spent per gender
tot_gender_spenders = pd.DataFrame(purchase_data.groupby("Gender")["Price"].sum())

tot_gender_spenders.reset_index(inplace=True)
tot_gender_spenders.columns = ["Gender", "Total Purchase Value"]

#Get average per person
avg_per_gender = pd.DataFrame(purchase_data.groupby("Gender")["Price"].sum()/gender_group["Gender"].value_counts())
avg_per_gender.reset_index(inplace=True)
avg_per_gender.columns = ["Gender", "Avg Total Purchase Per Person"]

#Merge gender count with average purchase price
merged_gendercount_avgprice = pd.merge(gender_summary_count, avg_gender_price, on="Gender")

#Merge gender count and average with total purchase value
merged_gender_totalpurchase = pd.merge(merged_gendercount_avgprice, tot_gender_spenders, on="Gender")
merged_gender_totalpurchase

#Final merge with avg total per person
final_genderpurchases_merged = pd.merge(merged_gender_totalpurchase, avg_per_gender, on="Gender")


#Format summary table
final_genderpurchases_merged["Average Purchase Price"] = final_genderpurchases_merged["Average Purchase Price"].astype(float).map("${:.2f}".format)
final_genderpurchases_merged["Total Purchase Value"] = final_genderpurchases_merged["Total Purchase Value"].astype(float).map("${:,.2f}".format)
final_genderpurchases_merged["Avg Total Purchase Per Person"] = final_genderpurchases_merged["Avg Total Purchase Per Person"].astype(float).map("${:.2f}".format)

#Set index to gender
final_genderpurchases_merged = final_genderpurchases_merged.set_index("Gender")

#Sort index
final_genderpurchases_merged = final_genderpurchases_merged.sort_index()
final_genderpurchases_merged

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Create bins for age groups
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#Create labels for age groups
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [7]:
#Purchase_data["Age"].value_counts()

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_names)
purchase_data
#Create table for ages
age_group = pd.DataFrame(purchase_data[["SN", "Age Group"]].drop_duplicates())
age_counts = age_group["Age Group"].value_counts()

total_age_counts = pd.DataFrame(age_counts)
#Add percentage
total_age_counts["Percentage of Players"] = total_age_counts["Age Group"]/total_age_counts["Age Group"].sum()

#Sort age group
age_counts_sorted = total_age_counts.sort_index()
age_counts_sorted

#format percentage column
age_counts_sorted["Percentage of Players"] = age_counts_sorted["Percentage of Players"].astype(float).map("{:.2%}".format)

#Rename age group to total count
age_counts_sorted = age_counts_sorted.rename(columns={"Age Group": "Total Count"})
age_counts_sorted

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Get age group count
age_summary_count = pd.DataFrame(purchase_data["Age Group"].value_counts())
age_summary_count.reset_index(inplace=True)
age_summary_count.columns = ["Age Range", "Purchase Count"]

#Get average purchase price
avg_age_price = pd.DataFrame(purchase_data.groupby("Age Group")["Price"].mean())
avg_age_price.reset_index(inplace=True)
avg_age_price.columns = ["Age Range", "Average Purchase Price"]

#Get total spent per age group
tot_age_spenders = pd.DataFrame(purchase_data.groupby("Age Group")["Price"].sum())

tot_age_spenders.reset_index(inplace=True)
tot_age_spenders.columns = ["Age Range", "Total Purchase Value"]

#Get average per person
avg_per_age = pd.DataFrame(purchase_data.groupby("Age Group")["Price"].sum()/age_group["Age Group"].value_counts())
avg_per_age.reset_index(inplace=True)
avg_per_age.columns = ["Age Range", "Avg Total Purchase Per Person"]

#Merge age group count with average purchase price
merged_agecount_avgprice = pd.merge(age_summary_count, avg_age_price, on="Age Range")

#Merge age count and average with total purchase value
merged_age_totalpurchase = pd.merge(merged_agecount_avgprice, tot_age_spenders, on="Age Range")
merged_age_totalpurchase

#Final merge with avg total per person
final_agepurchases_merged = pd.merge(merged_age_totalpurchase, avg_per_age, on="Age Range")


#Format summary table
final_agepurchases_merged["Average Purchase Price"] = final_agepurchases_merged["Average Purchase Price"].astype(float).map("${:.2f}".format)
final_agepurchases_merged["Total Purchase Value"] = final_agepurchases_merged["Total Purchase Value"].astype(float).map("${:,.2f}".format)
final_agepurchases_merged["Avg Total Purchase Per Person"] = final_agepurchases_merged["Avg Total Purchase Per Person"].astype(float).map("${:.2f}".format)

#Set index to age range
final_agepurchases_merged = final_agepurchases_merged.set_index("Age Range")

#Sort index
final_agepurchases_merged = final_agepurchases_merged.sort_index()
final_agepurchases_merged

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Get spender count
spender_count = pd.DataFrame(purchase_data["SN"].value_counts())
spender_count.reset_index(inplace=True)
spender_count.columns = ["SN", "Purchase Count"]

#Get average purchase price
avg_spender_price = pd.DataFrame(purchase_data.groupby("SN")["Price"].mean())
avg_spender_price.reset_index(inplace=True)
avg_spender_price.columns = ["SN", "Average Purchase Price"]

#Get total spent per user
top_spenders = pd.DataFrame(purchase_data.groupby("SN")["Price"].sum())

top_spenders.reset_index(inplace=True)
top_spenders.columns = ["SN", "Total Purchase Value"]
top_spenders["Total Purchase Value"] = pd.to_numeric(top_spenders["Total Purchase Value"])

#Merge spender count with average purchase price
merged_top_spenders = pd.merge(spender_count, avg_spender_price, on="SN")
merged_top_spenders

#Merge count and average with total purchase value
final_merged_spenders = pd.merge(merged_top_spenders, top_spenders, on="SN")
final_merged_spenders["Total Purchase Value"] = pd.to_numeric(final_merged_spenders["Total Purchase Value"])

#Set screen name as index
final_merged_spenders = final_merged_spenders.set_index("SN")

#Sort by total purchase value
final_merged_spenders = final_merged_spenders.sort_values("Total Purchase Value", ascending=False)

#Format summary table
final_merged_spenders["Average Purchase Price"] = final_merged_spenders["Average Purchase Price"].astype(float).map("${:.2f}".format)
final_merged_spenders["Total Purchase Value"] = final_merged_spenders["Total Purchase Value"].astype(float).map("${:,.2f}".format)

final_merged_spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [10]:
#Get item purchase count
popular_purchase_count = pd.DataFrame(purchase_data.groupby("Item ID")["Item Name"].count())
popular_purchase_count.reset_index(inplace=True)
popular_purchase_count.columns = ["Item ID", "Purchase Count"]

#Get price for items
popular_purchased_price = pd.DataFrame(purchase_data.groupby(["Item ID", "Item Name"])["Price"].mean())
popular_purchased_price.reset_index(inplace=True)


#Get total purchase value for popular items
popular_purchased_items = pd.DataFrame(purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum())
popular_purchased_items = popular_purchased_items.rename(columns={"Price": "Total Purchase Value"})

#Merge popular item count with purchase price
merged_popular_price = pd.merge(popular_purchase_count, popular_purchased_price, on="Item ID")

#Merge count and average with total purchase value
final_merged_popular = pd.merge(merged_popular_price, popular_purchased_items, on="Item ID")

#Set screen name as index
final_merged_popular = final_merged_popular.set_index(["Item ID", "Item Name"])

#Rename price column to item price
final_merged_popular = final_merged_popular.rename(columns={"Price": "Item Price"})

final_merged_popular["Total Purchase Value"] = pd.to_numeric(final_merged_popular["Total Purchase Value"])
#Format summary table
final_merged_popular["Item Price"] = final_merged_popular["Item Price"].astype(float).map("${:.2f}".format)
final_merged_popular["Total Purchase Value"] = final_merged_popular["Total Purchase Value"].astype(float).map("${:,.2f}".format)

#Sort by total purchase value
final_merged_popular = final_merged_popular.sort_values("Purchase Count", ascending=False)
final_merged_popular.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
#Create most profitable summary table
most_profitable = pd.merge(merged_popular_price, popular_purchased_items, on="Item ID")
most_profitable = most_profitable.sort_values("Total Purchase Value", ascending=False)
most_profitable = most_profitable.rename(columns={"Price": "Item Price"})
#Format summary table
most_profitable["Item Price"] = most_profitable["Item Price"].astype(float).map("${:.2f}".format)
most_profitable["Total Purchase Value"] = most_profitable["Total Purchase Value"].astype(float).map("${:,.2f}".format)
most_profitable.head(5)

,Item ID,Purchase Count,Item Name,Item Price,Total Purchase Value
90,92,13,Final Critic,$4.61,$59.99
174,178,12,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,$50.76
80,82,9,Nirvana,$4.90,$44.10
141,145,9,Fiery Glass Crusader,$4.58,$41.22
100,103,8,Singed Scalpel,$4.35,$34.80