### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as py

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Find total number of players
players = len(purchase_data["SN"].unique())

#Create table for total number of players
total_players = pd.DataFrame({"Total Players": [players]})

#Print total number of players
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Get number of unique items
item_count = len(purchase_data["Item ID"].unique())

#Get average price
average_price = purchase_data["Price"].mean()

#Get number of purchases
number_purchases = len(purchase_data)

#Get total revenue
revenue = purchase_data["Price"].sum()

#Create summary table
purchase_summary = pd.DataFrame({"Number of Unique Items": [item_count], "Average Price": [average_price],
                                "Number of Purchases": [number_purchases], "Total Revenue": [revenue]})
#Format summary table
purchase_summary["Average Price"] = purchase_summary["Average Price"].astype(float).map("${:.2f}".format)
purchase_summary["Total Revenue"] = purchase_summary["Total Revenue"].astype(float).map("${:,.2f}".format)

#Print summary table
purchase_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Get total count of male players--REMOVE DUPLICATES TO GET ACCURATE COUNT
columns = ["SN", "Gender"]
    
males = purchase_data.loc[purchase_data["Gender"] == "Male", columns].drop_duplicates()

num_males = len(males)

#Get percentage of players as male
percent_males = num_males/players

In [5]:
#Get total count of female players--REMOVE DUPLICATES TO GET ACCURATE COUNT
columns = ["SN", "Gender"]
    
females = purchase_data.loc[purchase_data["Gender"] == "Female", columns].drop_duplicates()

num_females = len(females)

#Get percentage of players as female
percent_females = num_females/players

In [6]:
#Get total count of male players--REMOVE DUPLICATES TO GET ACCURATE COUNT
columns = ["SN", "Gender"]
    
other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns].drop_duplicates()

num_other = len(other)

#Get percentage of players as male
percent_other = num_other/players

In [8]:
#Create summary table for gender analysis\n",
gender_table = pd.DataFrame({"Total Count": [num_males, num_females, num_other],
                           "Percentage of Players": [percent_males, percent_females, percent_other]},
                            index=['Male', 'Female', 'Other/Non-disclosed'])
#format gender table
gender_table["Percentage of Players"] = gender_table["Percentage of Players"].astype(float).map("{:.2%}".format)
gender_table

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Get purchase count for each gender
#Set columns for gender count
column = ["Gender"]
#Set columns for pricing
avg_price = ["Price", "Gender"]

#Female purchase count
female_count = len(purchase_data.loc[purchase_data["Gender"] == "Female", column])

#Female pricing
female_price = purchase_data.loc[purchase_data["Gender"] == "Female", avg_price]

#Average female price
avg_female_price = female_price["Price"].mean()

#Total female price
tot_female_price = female_price["Price"].sum()

#Average total purchase for females
avg_total_female = tot_female_price/num_females

In [10]:
#Male purchase count
male_count = len(purchase_data.loc[purchase_data["Gender"] == "Male", column])

#Male pricing
male_price = purchase_data.loc[purchase_data["Gender"] == "Male", avg_price]

#Average male price
avg_male_price = male_price["Price"].mean()

#Total male price
tot_male_price = male_price["Price"].sum()

#Average total purchase for males
avg_total_male = tot_male_price/num_males

In [11]:
#Other purchase count
other_count = len(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", column])

#Other pricing
other_price = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", avg_price]

#Average other price
avg_other_price = other_price["Price"].mean()

#Total other price
tot_other_price = other_price["Price"].sum()

#Average total purchase for other
avg_total_other = tot_other_price/num_other
num_other

11

In [25]:
#Create summary table
gender_pur_summary = pd.DataFrame({"Purchase Count": [female_count, male_count, other_count], "Average Purchase Price": [avg_female_price, avg_male_price, avg_other_price], "Total Purchase Value": [tot_female_price, tot_male_price, tot_other_price], "Avg Total Per Person": [avg_total_female, avg_total_male, avg_total_other], "Gender": ["Female", "Male", "Other/Non-disclosed"]})

#Set index to gender
gender_pur_summary = gender_pur_summary.set_index("Gender")

#Format columns
gender_pur_summary["Average Purchase Price"] = gender_pur_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
gender_pur_summary["Total Purchase Value"] = gender_pur_summary["Total Purchase Value"].astype(float).map("${:.2f}".format)
gender_pur_summary["Avg Total Per Person"] = gender_pur_summary["Avg Total Per Person"].astype(float).map("${:.2f}".format)
gender_pur_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other/Non-disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
#Create bins for age groups
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#Create labels for age groups
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [14]:
#Purchase_data["Age"].value_counts()

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_names)
purchase_data
#Create table for ages
age_group = pd.DataFrame(purchase_data[["SN", "Age Group"]].drop_duplicates())
age_counts = age_group["Age Group"].value_counts()

total_age_counts = pd.DataFrame(age_counts)
#Add percentage
total_age_counts["Percentage of Players"] = total_age_counts["Age Group"]/total_age_counts["Age Group"].sum()

#Sort age group
age_counts_sorted = total_age_counts.sort_index()
age_counts_sorted

#format percentage column
age_counts_sorted["Percentage of Players"] = age_counts_sorted["Percentage of Players"].astype(float).map("{:.2%}".format)

#RENAME AGE GROUP TO TOTAL COUNT
age_counts_sorted = age_counts_sorted.rename(columns={"Age Group": "Total Count"})
age_counts_sorted

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Get purchase count for each age
#Set columns for age count
age_column = ["Age Group"]
#Set columns for pricing
avg_price_age = ["Price", "Age Group"]

#Under ten purchase count
under_ten_count = len(purchase_data.loc[purchase_data["Age Group"] == "<10", column])

#Under ten pricing
under_ten_price = purchase_data.loc[purchase_data["Age Group"] == "<10", avg_price]

#Under ten price
avg_under_ten_price = under_ten_price["Price"].mean()

#Total under ten price
tot_under_ten_price = under_ten_price["Price"].sum()

In [16]:
#Ten to fourteen purchase count
ten_to_fourteen_count = len(purchase_data.loc[purchase_data["Age Group"] == "10-14", column])

#Ten to fourteen pricing
ten_to_fourteen_price = purchase_data.loc[purchase_data["Age Group"] == "10-14", avg_price]

#Ten to fourteen price
avg_ten_to_fourteen_price = ten_to_fourteen_price["Price"].mean()

#Total ten to fourteen price
tot_ten_to_fourteen_price = ten_to_fourteen_price["Price"].sum()

In [17]:
#Fifteen to nineteen purchase count
fifteen_to_nineteen_count = len(purchase_data.loc[purchase_data["Age Group"] == "15-19", column])

#Fifteen to nineteen pricing
fifteen_to_nineteen_price = purchase_data.loc[purchase_data["Age Group"] == "15-19", avg_price]

#Fifteen to nineteen price
avg_fifteen_to_nineteen_price = fifteen_to_nineteen_price["Price"].mean()

#Total fifteen to nineteen price
tot_fifteen_to_nineteen_price = fifteen_to_nineteen_price["Price"].sum()

In [18]:
#Twenty to twenty-four purchase count
twenty_to_twentyfour_count = len(purchase_data.loc[purchase_data["Age Group"] == "20-24", column])

#Twenty to twenty-four pricing
twenty_to_twentyfour_price = purchase_data.loc[purchase_data["Age Group"] == "20-24", avg_price]

#Twenty to twenty-four price
avg_twenty_to_twentyfour_price = twenty_to_twentyfour_price["Price"].mean()

#Total twenty to twenty-four price
tot_twenty_to_twentyfour_price = twenty_to_twentyfour_price["Price"].sum()

In [19]:
#Twenty-five to twenty-nine purchase count
twentyfive_to_twentynine_count = len(purchase_data.loc[purchase_data["Age Group"] == "25-29", column])

#Twenty to twenty-four pricing
twentyfive_to_twentynine_price = purchase_data.loc[purchase_data["Age Group"] == "25-29", avg_price]

#Twenty to twenty-four price
avg_twentyfive_to_twentynine_price = twentyfive_to_twentynine_price["Price"].mean()

#Total twenty to twenty-four price
tot_twentyfive_to_twentynine_price = twentyfive_to_twentynine_price["Price"].sum()

In [20]:
#Thirty to thirty-four purchase count
thirty_to_thirtyfour_count = len(purchase_data.loc[purchase_data["Age Group"] == "30-34", column])

#Thirty to thirty-four pricing
thirty_to_thirtyfour_price = purchase_data.loc[purchase_data["Age Group"] == "30-34", avg_price]

#Thirty to thirty-four price
avg_thirty_to_thirtyfour_price = thirty_to_thirtyfour_price["Price"].mean()

#Total thirty to thirty-four price
tot_thirty_to_thirtyfour_price = thirty_to_thirtyfour_price["Price"].sum()

In [21]:
#Thirty-five to thirty-nine purchase count
thirtyfive_to_thirtynine_count = len(purchase_data.loc[purchase_data["Age Group"] == "35-39", column])

#Thirty to thirty-four pricing
thirtyfive_to_thirtynine_price = purchase_data.loc[purchase_data["Age Group"] == "35-39", avg_price]

#Thirty to thirty-four price
avg_thirtyfive_to_thirtynine_price = thirtyfive_to_thirtynine_price["Price"].mean()

#Total thirty to thirty-four price
tot_thirtyfive_to_thirtynine_price = thirtyfive_to_thirtynine_price["Price"].sum()

In [22]:
#Over 40 purchase count
over_forty_count = len(purchase_data.loc[purchase_data["Age Group"] == "40+", column])

#Thirty to thirty-four pricing
over_forty_price = purchase_data.loc[purchase_data["Age Group"] == "40+", avg_price]

#Thirty to thirty-four price
avg_over_forty_price = over_forty_price["Price"].mean()

#Total thirty to thirty-four price
tot_over_forty_price = over_forty_price["Price"].sum()

In [23]:
#other_count = len(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", column])

In [24]:
#Create summary table
age_pur_summary = pd.DataFrame({"Purchase Count": [under_ten_count, ten_to_fourteen_count, fifteen_to_nineteen_count, 
                                                   twenty_to_twentyfour_count, twentyfive_to_twentynine_count, thirty_to_thirtyfour_count,
                                                  thirtyfive_to_thirtynine_count, over_forty_count], 
                                "Average Purchase Price": [avg_under_ten_price, avg_ten_to_fourteen_price, avg_fifteen_to_nineteen_price,
                                                          avg_twenty_to_twentyfour_price, avg_twentyfive_to_twentynine_price, 
                                                           avg_thirty_to_thirtyfour_price, avg_thirtyfive_to_thirtynine_price, avg_over_forty_price],
                                "Total Purchase Value": [tot_under_ten_price, tot_ten_to_fourteen_price, tot_fifteen_to_nineteen_price,
                                                        tot_twenty_to_twentyfour_price, tot_twentyfive_to_twentynine_price,
                                                        tot_thirty_to_thirtyfour_price, tot_thirtyfive_to_thirtynine_price, tot_over_forty_price]})

age_pur_summary

   Purchase Count  Average Purchase Price  Total Purchase Value
0              23                3.353478                 77.13
1              28                2.956429                 82.78
2             136                3.035956                412.89
3             365                3.052219               1114.06
4             101                2.900990                293.00
5              73                2.931507                214.00
6              41                3.601707                147.67
7              13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame